<div class="register-box">

  <div class="register-box-body">
    <p class="login-box-msg"><%= t("edit_company") %></p>

    <%= form_for @company_form, url: admin_company_path, method: "put" do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :name, class:"form-control", placeholder: t("placeholder.company_name") %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.text_field :website, class:"form-control", placeholder: t("placeholder.website") %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.text_field :phone_number, class:"form-control", placeholder: t("placeholder.phone") %>
        <span class="fa fa-phone form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.text_field :address, class:"form-control", placeholder: t("placeholder.address") %>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>

      <% if @company_form.logo_url %>
        <div class="attachment-block clearfix">
          <%= image_tag(@company_form.logo_url, width: 300, height: 300, class:"attachment-img") %>
        </div>
      <% end %>

      <%= f.attachment_field :logo%>

      <div class="row">
        <div class="col-xs-8">
        </div>

        <div class="col-xs-4">
          <%= f.button method: :update , class:"btn btn-primary btn-block btn-flat" do %>
            Update
          <% end %>
        </div>
        <!-- /.col -->
      </div>
    <%end%>
  </div>
  <!-- /.form-box -->
</div>
