<div class="box">
  <div class="box-header">
    <h3 class="box-title"><strong><%= t("application") %></strong>: <%= @application.user %></h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 200px;">
        <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>ID</th>
          <th><%= Application.human_attribute_name('name') %></th>
        </tr>
        <tr>
          <td><%= @application.id %></td>
          <td><%= @application.user %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"><%= t('resume') %></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <%= link_to "Resume", attachment_url(@application, :resume) %>
    </div>
    <!-- /.box-body -->
  </div>

  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"><%= t('cover_letter') %></h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <%= link_to "Cover Letter", attachment_url(@application, :cover_letter) %>
    </div>
    <!-- /.box-body -->
  </div>
