<div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= @pipeline.name %></h3>

    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 200px;">
        <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tbody>
        <% @steps.each do |step| %>
        <tr>
          <td><%= step.order %></td>
          <td><%= step.name %></td>
          <td><%= step.description %></td>
          <td style="width: 100px">
            <%= link_to edit_admin_step_path(step), method: :get, class: "btn btn-success btn-circle" do %>
              <i class="fa fa-edit"></i>
            <% end %>
            <%= link_to admin_step_path(step), method: :delete, class: "btn btn-danger btn-circle", data: {confirm: t("messages.confirm_with")} do %>
                <i class="fa fa-remove"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
